body{
  background-color: grey;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn{
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  font-size: 2.6rem;
}
.heading{
  text-align: center;
}
.show{
    background-color: pink;
    color: blue;
    height: 120px;
    width: 120px;
    font-size: 2.6rem;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
    padding: 20px;
}
.computer-choice{
  background-color: pink;
    color: blue;
    height: 120px;
    width: 120px;
    font-size: 2.6rem;
    margin: 20px;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
    padding: 20px;
}
.hiddenResult{
  visibility: hidden;
}
.result{
  background-color: darkblue;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.join{
  display: flex;
  justify-content: center;
}
.results-div{
  display: flex;
    justify-content: center;
}