body{
  background-color: rgb(20, 136, 175);
}
.btn{
  padding: 15px;
  border-radius: 3px solid;
  font-size: 2rem;
  margin: 5px;
}
.show{
    background-color: pink;
    color: blue;
    height: 120px;
    width: 120px;
    font-size: 2.6rem;
    margin: 20px;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
    padding: 20px;
}
.computer-choice{
  background-color: pink;
    color: blue;
    height: 120px;
    width: 120px;
    font-size: 2.6rem;
    margin: 20px;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
    padding: 20px;
}
.hiddenResult{
  visibility: hidden;
}
.result{
  background-color: darkblue;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 4px 5px 6px 6px black;
    border-radius: 5px;
}

